// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family:'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E7F6FF;
}
*{
  list-style: none;
  text-decoration: none;
}
.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #EAEAEA;

  .headerLeft{
    display: flex;
    align-items: center;

    img{
      margin-right: 15px;
    }
    h3,p{
      margin: 0;
    }
    .headerInfo{
      h3{
        text-transform: uppercase;
      }
    }
  }
  .headerRight{
    display: flex;
    li{
      display: flex;
      align-items: center;
    }
    .chart{
      margin-right: 30px;
    }
  }
}
.content{
  padding: 40px;
  h1{
    margin:0;
    margin-bottom: 40px;
  }
}
.sneakers{
  display: flex;
  justify-content: space-between;
.card{
  border:1px solid #f3f3f3;
  padding: 20px;
  width: 210px;
  border-radius: 30px;
  margin-right: 30px;
  h5{
    font-weight: 400;
    font-size: 14px;
  }
  span{
    font-size: 12px;
    text-transform: uppercase;
  }
  .cardBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cardBottomPrice{
      display: flex;
      flex-direction: column;
    }
    .button{
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      border-radius: 8px;
      width: 32px;
      height: 32px;
      cursor:pointer;
    }

  }
}
}